.details { 
    padding-top: 60px; 
    padding-bottom: 60px; 
  } 
  .site-details__item { 
    min-width: 290px; 
    max-width: 450px; 
    margin-bottom: 30px; 
  } 
  .details__title { 
    color: $nav; 
    font-size: 14px; 
    font-weight: 700; 
    text-transform: uppercase; 
    margin-bottom: 10px; 
    text-align: center; 
  } 
  .details__text { 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 171%; 
    letter-spacing: 0.03em; 
    color: $web; 
  } 
  .site-details__item::before { 
    content: ""; 
    display: block; 
    width: 100%; 
    height: 120px; 
    background-color: $button; 
    border-radius: 4px; 
    background-image: url(../img/antenna1.webp); 
    background-size: 70px; 
    background-repeat: no-repeat; 
    background-position: center; 
    margin-bottom: 30px; 
    border-radius: 4px; 
  } 
   
  .site-details__item:nth-child(2)::before { 
    background-image: url(../img/clock1.webp); 
  } 
   
  .site-details__item:nth-child(3)::before { 
    background-image: url(../img/diagram1.webp); 
  } 
   
  .site-details__item:nth-child(4)::before { 
    background-image: url(../img/astronaut1.webp); 
  } 
   
  @media screen and (min-width: 768px) { 
    .details__list { 
      display: flex; 
      justify-content: space-between; 
      flex-wrap: wrap; 
    } 
    .site-details__item { 
      min-width: 354px; 
      max-width: 354px; 
    } 
    .details__title { 
      text-align: left; 
    } 
  } 
   
  @media screen and (min-width: 1200px) { 
    .details { 
      padding-top: 94px; 
    } 
    .details__list { 
      display: flex; 
      justify-content: space-between; 
    } 
    .site-details__item { 
      min-width: 270px; 
      max-width: 270px; 
    } 
  }
// @media  screen and (min-width: 1200px) {
//     .details{
//         padding-top: 94px;
//         padding-bottom: 94px;
//          }
//          .details__list{
//               @include flex ();
//                 line-height: 24px;
//              }
//              .site-details__item{
//                   width: 270px;
//                   height: 120px;
//                  }
//                  .details__title{
//                        color: $nav;
//                         width: 270px;
//                         font-size: 14px;
//                         font-style: normal;
//                         font-weight: 700;
//                        text-transform: uppercase;
//                         margin-bottom: 10px;
//                  }
//                  .details__text{
//                          color: $nav-number;
//                      }
// }

// .details{
//     padding-top: 94px;
//     padding-bottom: 94px;
// }

// .site-details__item{
//     width: 270px;
// }

// .site-details__item::before{
//     content: '';
//     display: block;
//     width: 100%;
//     height: 120px;
//     background-color: $button;
//     border-radius: 4px;
//     background-image: url(../img/antenna1.webp);
//     background-size: 70px;
//     background-repeat: no-repeat;
//     background-position: center;
//     margin-bottom: 30px;
// }

// .site-details__item:nth-child(2)::before {
//     background-image: url(../img/clock1.webp);
// }

// .site-details__item:nth-child(3)::before {
//     background-image: url(../img/diagram1.webp);
// }

// .site-details__item:nth-child(4)::before {
//     background-image: url(../img/astronaut1.webp);
// }

// .details__list{
//     @include flex ();
//     line-height: 24px;
// }

// .details__title{
//     color: $nav;
//     width: 270px;
//     font-size: 14px;
//     font-style: normal;
//     font-weight: 700;
//     text-transform: uppercase;
//     margin-bottom: 10px;
// }

// .text__details{
//     color: $nav-number;
// }


// .details__text{
//     color: $nav-number;
// }
