.footer{ 
    background-color: $main; 
    padding-top: 60px; 
    padding-bottom: 60px; 
} 
 
.footer__logo{ 
    display: flex; 
    justify-content: center; 
    color: $main-title; 
    font-size: 26px; 
    font-family: 'Raleway', sans-serif; 
    font-weight: 700; 
    line-height: 171.429%; 
} 
 
.footer__white{ 
    color: $site-nav-link; 
    font-size: 26px; 
    font-family: 'Raleway', sans-serif; 
} 
 
.footer__list{ 
    display: flex; 
    align-items: center; 
    flex-direction: column; 
} 
 
.footer__city{ 
    display: flex; 
    justify-content: center; 
    color:  $footer-button; 
    font-family: Roboto; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 171.429%; 
} 
 
.footer__contacts{ 
    display: flex; 
    justify-content: center; 
    color: $footer-button; 
    font-family: Roboto; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 171.429%; 
     
} 
 
.footer__join{ 
    text-align: center; 
    color: $main-title; 
    font-family: 'Roboto', sans-serif; 
    font-size: 14px; 
    font-weight: 700; 
    letter-spacing: 0.42px; 
    text-transform: uppercase; 
    margin-bottom: 20px; 
    margin-top: 60px; 
} 
 
.footer__icon{ 
    width: 20px; 
    height: 20px; 
} 
 
.footer__ul{ 
    @include flex(); 
    width: 206px; 
} 
 
.footer__contacts{ 
    display: flex; 
    justify-content: center; 
    color: rgba(255, 255, 255, 0.6); 
    font-family:  $font-family; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 171.429%; 
} 
 
.footer__contacts{ 
    display: flex; 
    justify-content: center; 
    color: rgba(255, 255, 255, 0.6); 
    font-family:  $font-family; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 171.429%; 
     } 
 
.footer__class{ 
    fill: $icon-color; 
    height: 44px; 
    width: 44px; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: rgba(255, 255, 255, 0.10); 
    transition-property: fill  $main; 
 
    &:hover, 
    &:focus { 
        transition-duration: 250ms; 
        fill:  $main-title; 
        background-color:  $site-nav-link; 
} 
} 
.footer__form-input{ 
    display: flex; 
    margin-bottom: 20px; 
    width: 290px; 
    height: 50px; 
    padding-left: 15px; 
    border-radius: 4px; 
    border: 1px solid rgba(255, 255, 255, 0.30); 
    background: rgba(33, 150, 243, 0.00); 
} 
 
.footer__subscribe{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 4px; 
    background-color:  $site-nav-link; 
    width: 200px; 
    height: 50px; 
    border: none; 
    color: $main-title; 
    font-weight: 700; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
 
    &:hover { 
        cursor: pointer; 
    } 
} 
 
.footer__telegram-svg{ 
    width: 24px; 
    height: 24px; 
    margin-left: 10px; 
    fill: $main-title; 
} 
.footer__img{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 60px; 
} 
.footer__form-taitel{ 
    text-align: center; 
    color: $main-title; 
    font-family: 'Roboto', sans-serif; 
    font-size: 14px; 
    font-weight: 700; 
    letter-spacing: 0.42px; 
    text-transform: uppercase; 
    margin-bottom: 20px; 
    margin-top: 60px; 
} 
.footer__form-wrap{ 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    } 
 
@media screen and (min-width: 480px){ 
    .footer__form-input{ 
        width: 450px; 
    } 
} 
 
@media screen and (min-width: 768px){ 
    .footer__subscribe{ 
        margin: 0 auto; 
    } 
    .footer__wrap{ 
        display: flex; 
        justify-content: space-between; 
    } 
    .footer__join{ 
        margin-top: 0; 
    } 
} 
 
@media screen and (min-width: 1200px){ 
    .footer__white{ 
        justify-content: left; 
    } 
 
    .footer__contacts{ 
        justify-content: left; 
    } 
 
    .footer__form-input{ 
        width: 358px; 
        padding-left: 12px; 
        height: 50px; 
        margin-right: 0; 
        margin-bottom: 0; 
    }
    .footer__list{ 
        align-items: flex-start; 
        margin-right: 70px; 
    } 
    .footer__img{ 
        align-items: flex-start; 
    } 
    .footer__box{ 
        display: flex; 
        justify-content: space-between; 
    } 
 
    .footer__form-wrap{ 
        display: flex; 
        flex-direction: row; 
    } 
    .footer__form-taitel{ 
        margin-top: 0; 
        text-align: left; 
    } 
    .footer__subscribe{ 
        margin-left: 12px; 
    } 
}